@model PseudoFront_.DTO.ReservaPrivateDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar reserva</h1>

<h3>Tem a certeza que pretende eliminar esta reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservaID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LugarID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LugarID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservaID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
