@model IEnumerable<PseudoFront_.Models.Subaluguer>

@{
    ViewData["Title"] = "Index";
}

<h1>Subalugueres</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubAluguerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubAluguerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.SubAluguerID">Alterar preço</a> |
                <a asp-action="Reservar" asp-route-id="@item.SubAluguerID">Reservar</a> |
            </td>
        </tr>
}
    </tbody>
</table>
