@model IEnumerable<PseudoCompanyFront.Models.ParqueDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeParque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIFParque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoradaID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeParque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIFParque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lotacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoradaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParqueID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParqueID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParqueID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
