@model PseudoCompanyFront.Models.SubAluguer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubAluguer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva.ReservaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubAluguerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
